
<div class="col-md-12 fundo" align="center">
  <div
    [formGroup]="formGroup"
  >
  <b style="font-size:120%; color:rgb(8, 150, 3)">CADASTRO DE USUÁRIO</b>
    <div class="p-col-12">
      <mat-form-field appearance="fill">
        <mat-label> CPF </mat-label>
        <input
          matInput
          placeholder="DIGITE SEU CPF"
          formControlName="cpf"
        />
      </mat-form-field>
    </div>
    <div class="p-col-12">
      <mat-form-field appearance="fill">
        <mat-label> SENHA </mat-label>
        <input
          matInput
          placeholder="DIGITE UMA SENHA"
          type="password"
          formControlName="senha"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="p-col-12">
    <div class="container">
      <button mat-flat-button color="color" (click)="cadastro()">CADASTRAR-SE</button>
    </div>
  </div>
</div>


