<div class="col-md-12 fundo" align="center">
  <div [formGroup]="formGroup">
    <div class="tela-extrato">
     <!-- //<b style="font-size:150%; color:blue">FAÇA SEU LOGIN</b> -->
     <b style="font-size:130%"><em>SALDO</em></b>
      <p>R$ {{ saldo }}</p>
      <div>
        <div>
          <button mat-flat-button color="red" (click)="setSaque()">
            SACAR
          </button>
        </div>
        <div>
          <button mat-flat-button color="green" (click)="setDeposito()">
            DEPOSITAR
          </button>
        </div>
        <div *ngIf="saque || deposito" [formGroup]="formGroup">
          <mat-form-field>
            <mat-label> VALOR </mat-label>
            <input
              matInput
              [placeholder]="placeholders"
              formControlName="valor"
            />
          </mat-form-field>
          <button mat-flat-button color="primary" (click)="efetuarTransacao()">
            {{ label }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
