.fundo {
  background-color: rgba(236, 236, 215, 0.7);
  padding: 20px;
  width: 200px;
  cursor: pointer;
  padding-left: 18px;
  line-height: 26px;
  min-width: 18px;
  min-height: 18px;
  max-width: 1128px;
  margin:  auto;
}

.mat-raised-button.mat-color,
.mat-flat-button.mat-color {
  background-color: blue;
  color: white;
}
